* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Esto es importante para incluir el padding y el border en el ancho y alto del elemento */
}

body{
	font-family: "Acme", sans-serif;
	font-size: 2rem;
	 
}
#content{
	text-align: center;
	margin-top: 5rem;
}
 

.req input{
	display:block;
	width: 100%; 
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: 2px solid rgb(151, 154, 154);	
	border-radius: 5px;
	font-size: 2rem;
}
.req{
	color: rgb(95, 93, 93  );
	display:inline-block;
	width: 15%;
}
.resp{
	display:block;
	font-size: 300%;
}
 .resp p{
 	display: inline-block;
 }
.resp .resp1{
	color: rgb(165, 105, 189);

}
#calcular{
	border-radius: 100%;
	height: 50px;
	width: 50px;
	background-color: rgb(165, 105, 189);
	border: none;
}